
a {
    color: #636b6f;
}

.post-list {
    margin-top: 15px;
}
.post-list > ul {
    list-style: none;
}
.post-list > ul > li {
    margin: 0 0 50px 0;
}
.post-title {
    font-size: 20px;
    font-weight: bold;
}
.post-msg {
    margin-top: 8px;
    font-size: 13px;
}
.post-msg > span {
    margin-right: 20px;
}
.post-content {
    margin-top: 20px;
    font-size: 16px;
}
.read_all {
    font-size: 16px;
    display: block;
    margin-top: 18px;
}
.post-detail {
    margin-top: 15px;
}
